version: '3'
services:
  web:
    build: .
    ports:
      - "11111:12345"
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: 'entity'
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - .:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"