version: '3'
services:
  web:
    build: .
    image: ovantsevich/fmicroservice:mongo
    ports:
      - "11111:12345"
    environment:
      - CURRENT_DB=postgres
      - MONGO_DB_URL=mongodb://mongo:mongo@localhost:27017
      - JWT_KEY=874967EC3EA3490F8F2EF6478B72A756
      - POSTGRES_DB_URL=postgres://postgres:postgres@localhost:5432/User?sslmode=disable
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=redis
    depends_on:
      postgres:
        condition: service_healthy
      cache:
        condition: service_started

  postgres:
    image: postgres
    environment:
      PGUSER: 'postgres'
      POSTGRES_DB: 'userService'
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
#    volumes:
#      - .:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - default

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo
    ports:
      - "27017:27017"
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongo
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongo
      ME_CONFIG_MONGODB_URL: mongodb://mongo:mongo@mongo:27017/

  flyway:
    image: flyway/flyway
    command: -configFiles=/flyway/conf/flyway.config -locations=filesystem:/flyway/sql -connectRetries=60 migrate
    volumes:
      - ${PWD}/migrations:/flyway/sql
      - ${PWD}/flyway.config:/flyway/conf/flyway.config
    depends_on:
      - postgres
    networks:
      - default

  cache:
    image: redis
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning